.img {
  padding: 40vh !important;
  max-width: 300px;
  height: 300px;
  margin: auto;
  background-image: url('./img/Quicloc8-logo.png');
  background-position: center;
  background-repeat: repeat;
}